#FINALES DE CARRERA CON PULSADORES

NET "fc1" LOC="G12";
NET "fc2" LOC="C11";
NET "fc3" LOC="M4";
NET "fc4" LOC="A7";
NET "fc5" LOC="B2"|PULLUP;  #EXTENSION EN JA 

#SELECTOR DE PISO

NET "selector[0]" LOC="P11";
NET "selector[1]" LOC="L3";
NET "selector[2]" LOC="K3";
NET "selector[3]" LOC="B4";
NET "selector[4]" LOC="G3";

#SENSOR DE PUERTA ABIERTA, BOTON DE EMERGENCIA Y RESET

NET "puerta" LOC="F3";
NET "emergencia" LOC="E2";
NET "reset" LOC="N3";

#TRANSISTOR Y RELOJ

NET "clk" LOC="B8";
NET "tr" LOC="K14";

#LEDS

NET "salida[0]" LOC="M5";
NET "salida[1]" LOC="M11";
NET "led_emergencia" LOC="N5";
NET "led_puerta" LOC="P4";

#DISPLAY 7 SEGMENTOS

NET "display[0]" LOC="L14";
NET "display[1]" LOC="H12";
NET "display[2]" LOC="N14";
NET "display[3]" LOC="N11";
NET "display[4]" LOC="P12";
NET "display[5]" LOC="L13";
NET "display[6]" LOC="M12";
